html, body { margin: 0; padding: 0; height: 100%; }
body > div {
    background-color: black;
    height: 100%;
    color: white;
}
header {
    float: right;
    width: 90%;
    height: 10%;
}
nav {
    position: fixed;
    float: left;
    background-color: rgb(40, 40, 40);
    width: 0%;
    height: 100%;
    transition: width 1s;
}
#menu_icon{
    width: 40px;
    height: 40px;
    margin-left: 10px;
    margin-top: 10px;
}
.sidemenu {
    height: 50px;
    overflow: hidden;
}
.sidemenu > a {
    white-space: nowrap;
    text-decoration: none;
    color: white;
}
.sidemenu>a:hover {
    text-decoration:underline;
    color: white;
}
#login_a {
    margin-left: 40px;
    bottom: 10px;
}
nav:hover{
    position: fixed;
    background-color: rgb(40, 40, 40);
    float: left;
    width: 150px;
    height: 100%;
}
section {
    justify-content: center;
    align-items: center;
    text-align: center;
    float: right;
    width: 90%;
    height: 80%;
}
footer {
    float: right;
    width: 90%;
    height: 10%;
}
#recommend {
    height: 100%;
}
div.recommend_box {
    height: 660px;
}
h1.title {
    color: aqua;
    text-align: center;
    margin: 0;
    margin-top: 10px;
    padding: 0;
}
h2.subtitle {
    margin-top: 0;
    padding: 0;
}
article {
    width: 100%;
}
hr.footer_bar {
    width: 95%;
    color: grey;
}
#recommending {
    position: absolute;
    float: right;
    bottom: 0;
    right: 0;
    height: 15%;
}
@keyframes imagerotation { 
}
