html, body { margin: 0; padding: 0; height: 100%; }
body > div {
    background-color: black;
    height: 100%;
    color: white;
}
header {
    float: right;
    width: 90%;
    height: 10%;
}
nav {
    position: fixed;
    float: left;
    background-color: rgb(40, 40, 40);
    width: 0%;
    height: 100%;
    transition: width 1s;
}
#menu_icon{
    width: 40px;
    height: 40px;
    margin-left: 10px;
    margin-top: 10px;
}
.sidemenu {
    height: 50px;
    overflow: hidden;
}
.sidemenu > a {
    white-space: nowrap;
    text-decoration: none;
    color: white;
}
.sidemenu>a:hover {
    text-decoration:underline;
    color: white;
}
nav:hover{
    position: fixed;
    background-color: rgb(40, 40, 40);
    float: left;
    width: 150px;
    height: 100%;
}
section {
    justify-content: center;
    align-items: center;
    text-align: center;
    float: right;
    width: 90%;
    height: 80%;
}
footer {
    float: right;
    width: 90%;
    height: 10%;
}
#recommend {
    height: 100%;
}
div.recommend_box {
    height: 660px;
}
h1.title {
    color: white;
    text-align: center;
    margin: 0;
    margin-top: 10px;
    padding: 0;
}
h2.subtitle {
    margin-top: 0;
    padding: 0;
}
article {
    width: 100%;
}
hr.footer_bar {
    width: 95%;
    color: grey;
}
.sizedbox {
    height: 50px;
}
.sizedbox_large {
    height: 60%;
}
nav > ul > li {
    list-style-type: none;
}
#recommending {
    position: absolute;
    float: right;
    bottom: 0;
    right: 0;
    height: 20%;
}
@keyframes imagerotation { 
}

/*추천 패널*/

#panel {
    display: block;
    position: absolute;
    top: 10%;
    left: 20%;
    width: 70%;
    height: 80%;
    background-color: rgba(150, 150, 150, 0.8);
}

.panel_main {
    margin-top: 50px;
}

.panel_left {
    margin-left: 10%;
    float: left;
    width: 280px;
}

.rating_star {
    margin-top: 20px;
}

.rating_star > ul {
    list-style-type: none;
}

.rating_star > ul > li {
    padding-left: 20px;
    float: left;
    color: yellow;
}

.rating_star > ul > li > i {
    scale: 150%;
}

.panel_right {
    margin-left: 10%;
    margin-right: 10%;
    float: right;
    float: left;
    width: 40%;
}

.panel_title {
    text-align: center;
}

.movie_poster {
    width: 100%;
}

.comment {
    height: 100px;
    font-size: large;
}

.comment_button {
    margin-top: 50px;
    margin-left: 50%;
    width: 200px;
    padding-bottom: 5px;
    background-color: whitesmoke;
    border-radius: 50px;
    text-align: center;
}
.comment_button > a {
    font-size: x-large;
    text-decoration: none;
    color: black;
}