@import url('https://fonts.googleapis.com/css2?family=Dongle&family=M+PLUS+Rounded+1c&family=Teachers:ital,wght@0,400..800;1,400..800&display=swap');
html, body { margin: 0; padding: 0; height: 100%;font-family: 'Teachers', sans-serif; }
body > div {
    height: 100%;
    color: white;
}
header {
    background-color: #010101;
    float: right;
    width: 100%;
    height: 10%;
}
section {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    height: 80%;
}
footer {
    width: 100%;
    height: 10%;
    background-color: #010101;
}
nav {
    position: fixed;
    float: left;
    background-color: #010101;
    width: 0%;
    height: 100%;
    transition: width 1s;
}
#menu_icon{
    width: 40px;
    height: 40px;
    margin-left: 10px;
    margin-top: 10px;
}
.sidebar {
    margin-left: 15px;
    margin-top: 15px;
}
.sidemenu {
    height: 50px;
    overflow: hidden;
}
.sidemenu ul {
    left: 10px;
}
.sidemenu > a {
    white-space: nowrap;
    text-decoration: none;
    color: white;
}
.sidemenu>a:hover {
    text-decoration:underline;
    color: white;
}
nav:hover{
    position: fixed;
    background-color: #010101;
    float: left;
    width: 150px;
    height: 100%;
}
#recommend {
    height: 100%;
}
div.recommend_box {
    height: 660px;
}
h1.title {
    color: white;
    text-align: center;
    margin: 0;
    margin-top: 10px;
    padding: 0;
}
article {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    background: linear-gradient(#272122, #0d1423);
    width: 100vw;
    height: 100%;
}

.sizedbox {
    height: 50px;
}
.sizedbox_large {
    height: 60%;
}
nav > ul > li {
    list-style-type: none;
}
#recommending {
    position: absolute;
    float: right;
    bottom: 0;
    right: 0;
    height: 20%;
}
@keyframes imagerotation { 
}
