/*추천 패널*/

#panel {
    border-radius: 50px;
    position: relative;
    left: 5%;
    width: 90%;
    height: 90%;
    background-color: rgba(150, 150, 150, 0.8);
}

.panel_main {
}

.panel_left {
    margin-left: 10%;
    float: left;
    width: 280px;
}

.rating_star {
    margin-top: 20px;
}

.rating_star > ul {
    list-style-type: none;
}

.rating_star > ul > li {
    padding-left: 20px;
    float: left;
    color: yellow;
}

.rating_star > ul > li > i {
    scale: 150%;
}

.panel_right {
    margin-left: 10%;
    margin-right: 10%;
    float: right;
    float: left;
    width: 40%;
}

.panel_title {
    text-align: center;
    font-size:xx-large;
}

.movie_poster {
    border-radius: 10px;
    width: 100%;
}

.comment {
    text-align: left;
    height: 100px;
    font-size: large;
}

.comment_button {
    margin-top: 50px;
    margin-left: 50%;
    width: 200px;
    padding-bottom: 5px;
    background-color: whitesmoke;
    border-radius: 50px;
    text-align: center;
}
.comment_button > a {
    font-size: x-large;
    text-decoration: none;
    color: black;
}