@import url('https://fonts.googleapis.com/css2?family=Dongle&family=M+PLUS+Rounded+1c&family=Teachers:ital,wght@0,400..800;1,400..800&display=swap');
*{ margin: 0; padding: 0; font-family: 'Teachers', sans-serif; }
.panel {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    background: linear-gradient(#272122, #0d1423);
    width: 100vw;
    height: 100%;
}
.rating_star {
    margin-top: 20px;
    position: relative;
    font-size: 1.5em;
    color: yellow;
}
.content {
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.panel_title {
    margin-bottom: 25px;
    font-size: 2em;
}
.movie_poster {
    border-radius: 10px;
    width: 20vw;
    height: 45vh;
    box-shadow: 0 15px 35px rgba(0, 0, 0, 25);
    transition: 300ms ease;
}
.movie_poster:hover {
    width: 21vw;
    height: 46vh;
}
.content_right {
    display: flex;
    flex-direction: column;
    padding: 15px;
    margin-left: 30px;
    height: 30vh;
    align-items: left;
    justify-content: center;
    background-color: #42464b;
    color: #fff;
    border-radius: 20px;
    overflow:scroll;
    box-shadow: 0 15px 35px rgba(0, 0, 0, 25);
}
.comment {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}
.comment i {
    font-size: 2em;
}
.comment .name {
    margin: 0 15px;
}
.comment_button {
    display: flex;
    justify-content: center;
    width: 300px;
    padding: 10px;
    background-color: #fff;
    border-radius: 50px;
    margin-top: 20px;
    text-align: center;
    box-shadow: 0 15px 35px rgba(0, 0, 0, 25);
    cursor: pointer;
    font-size: 2em;
    transition: 300ms ease;
}
.comment_button:hover {
    background-color: #010101;
    color: #fff;
}
.column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}