/* section {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    float: right;
    width: 90%;
    height: 80%;
}
input {
    border-radius: 5px;
    color: white;
    background-color: rgb(78, 78, 78);
    border: 0px;
    width: 250px;
    height: 40px;
    margin: 10px;
}
button#resister {
    border: none;
    width: 100px;
    height: 20px;
    color: black;
}
@keyframes imagerotation { 
} */