section {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    float: right;
    width: 90%;
    height: 80%;
}
article.login_box {
    width: 300px;
    height: 400px;
    border-radius: 10px;
    box-shadow: 0px 0px 20px 5px aqua;
    text-align: center;
}
input {
    border-radius: 5px;
    color: white;
    background-color: rgb(78, 78, 78);
    border: 0px;
    width: 250px;
    height: 40px;
    margin: 10px;
}
button#resister {
    border: none;
    width: 100px;
    height: 20px;
    color: black;
    background-color: rgb(0, 180, 180);
}
@keyframes imagerotation { 
}